<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Paulo Vilela"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- ✅ WebJar SEM versão (com webjars-locator) -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />

    <script src="https://kit.fontawesome.com/006642858d.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:wght@100;400;700;900&display=swap"
          rel="stylesheet">

    <link rel="stylesheet" href="css/style.css" >

    <title>Academy</title>

</head>
<body>

<!--CABEÇALHO--->
<header th:fragment="cabecalho" >
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #42259C;">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">
                <img src="/img/logo-academy.png" alt="Logo" height="120" />
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMobile">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navMobile">
                <ul class="navbar-nav align-items-center">
                    <li class="nav-item me-4">
                        <a class="nav-link" th:href="@{/index}"><i class="fas fa-home"></i> Home</a>
                    </li>
                    <li class="nav-item me-4">
                        <a class="nav-link" th:href="@{inserirAlunos}"><i class="fas fa-user-graduate"></i> Cadastrar Aluno</a>
                    </li>
                    <li class="nav-item me-4">
                        <a data-bs-toggle="modal" data-bs-target="#modalPesquisa" class="nav-link" th:href="@{/filtroAlunos}"><i class="fas fa-search"></i> Pesquisar Aluno</a>
                    </li>
                    <li class="nav-item">
                        <form action="/logout" method="post">
                        <button type="submit" class="btn btn-danger" ><i class="fas fa-times"></i> Sair</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>


<!--RODAPE--->
<footer th:fragment="rodape">

    <div class="rodape">
        <span>Todos os direitos reservados - 2025 &copy; Paulo Vilela</span>
    </div>

</footer>

<!-- ✅ Scripts SEM versão -->
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>
</html>